@model SmartSSO.Services.Util.PagedResult<SmartSSO.Entities.ManageUser>
@{
    ViewBag.Title = "用户管理";
}

<div class="row">

    <div class="col-md-3">

        @Html.Partial("Shared/_QuickMenu")

    </div>
    <div class="col-md-9 ">

        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li><a href="/UserManage">用户</a></li>
            <li class="active">查看用户</li>
        </ol>


        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>邮箱地址</th>
                    <th>真实姓名</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Result.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.Result[i].UserName </td>
                        <td>@Model.Result[i].Nick </td>
                        <td>@Model.Result[i].CreateTime </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">更多操作</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/UserManage/delete?username=@Model.Result[i].UserName">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (!Model.Result.Any())
        {
            <div class="alert alert-info">
                <strong>提示</strong> 没有查询到记录。
            </div>
        }

    </div>
</div>